/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lacquer&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lacquer&family=Marko+One&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus&display=swap');



*{
    padding: 0;
    margin: 0;
    /* outline: 1px solid #f00 !important; */
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(31,77,145,255);
}

.mainbox{
    width:60vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-color: white;
}


.lhs{
    width: 60%;
    height: 90%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-left: 20px;
    margin-top: 20px;

}

.lhs h2{
    margin-bottom: 10px;
}

.lhs h4{
    color: grey;
    margin-bottom: 10px;
}

.lhs .card{
    height: 3rem;
}

.card #num{
    width: 60%;
    height: 2rem;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 0 10px;
}


.card #cvc{
    width: 25%;
    height: 2rem;
    border-radius: 5px;
}

.card button{
    height: 3rem;
    border-radius: 5px;
    background-color: rgba(31,77,145,255);
    color: white;
    font-size: 1rem;
}
.rhs{
    height: 100%;
    width: 40%;
    background-color: rgb(225, 223, 223);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.rhs .summary{
    display: flex;
    height: 70%;
    flex-direction: column;
    padding-top: 15px;
    justify-content: space-evenly;
}

.pname, .bcycle, .pprice{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#Submit{
    height: 2rem;
    color: white;
    background-color: rgb(64, 64, 164);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
}
